* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Lato", sans-serif;
}


/* navigation */
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{ 
    color: #fff;
    text-transform: uppercase;

}

#nav li a{
    text-decoration: none;
    display: inline-block;
    line-height: 46px;
    padding: 0 24px;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    background-color: gray;
    color: black;
}

#nav .subnav{
    display: none;
    background-color: aliceblue;
    position: absolute;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    display: block;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
    background-color: aliceblue;
    color: black;
}

#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 24px;
}

#header .search-icon{
    color: white;
    font-size: 16px;
}
#header .search-btn:hover{
    background-color: red;
}

/* slider */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: top center /cover no-repeat;
}

#slider .text-content{
    color: white;
    text-align: center;
    padding: 32px 16px;
}

#slider .text-content p,
#slider .text-content h2{
    margin: 10px;
}


/* content */

#content .content-section{
    width: 800px;
    margin: auto;
    padding: 64px 16px;
    text-align: center;
}

#content .content-section .section-heading{
    font-weight: 400;
    font-size: 30px ;
    letter-spacing: 5px;
    margin: 10px;
}

#content .content-section .section-sub-heading{
    font-size: 15px;
    margin: 15px;
    font-style: italic;
    opacity: 0.5;
}

#content .content-section .about{
    text-align: justify;
    font-size: 15px;
    margin: 15px;
    line-height: 1.5;
}

.content-section .image-section{
    text-align: center;
}

.content-section .image-section .about-item{
    float: left;
    padding: 15px;
}

.content-section .image-section .about-item > p{
    margin: 15px;
    text-align: center !important;
}

.content-section .image-section .about-item > img{
    margin: 0 0 16px;
    width: 60%;                             
    border-radius: 4px;
}      

/* tour section */
.tour-section{
    background-color: #000;
    position: relative;
    margin-top: 250px;
}

.tour-section .content-section{
    padding: 64px 8px !important;
}

.tour-section .content-section h2,
.tour-section .content-section p
 {
    color: white;
}

.tour-section .content-section ul{
    list-style: none;
    padding: 0 8px;
}

.tour-section .content-section .month{
    background-color: #fff;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tour-section .content-section .ticket-sold{
    background-color:#f44336;
    color: white;
    padding: 0 8px;
    margin-left: 16px ;
    line-height: 1.5;
}

.tour-section .content-section .tickets-3{
    text-align: right;
    background-color: #000;
    color: white;
    float: right;
    padding: 0 8px;
    margin-right: 16px;
    border-radius: 50%;
    line-height: 1.5;
}

.places-list{
    padding: 32px 0;
    height: 500px;
}

.places-list .place-items{
    float: left;
    padding: 0 8px;
    margin-bottom: 16px;
    line-height: 1.5;
    width: 33.33333%;

}

.places-list .place-items img{
    width: 100%;
    display: block;
}

.places-list .place-items img:hover{
    background-color: gray;
    opacity: 0.7;
}

.places-list .place-items .place-body{
    background-color: #fff;
    padding: 0 16px;
    display: flow-root;
    height: 208px;
}

.place-items .place-body p{
    color: #000;
    text-align: left;
    margin: 15px 0;
}

.place-items .place-body .place-time{
    opacity: 0.6;
    font-size: 15px;
}

.place-items .place-body .buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    float: left;
    margin-bottom: 16px ;
}

.input-contact button:hover,
.place-items .place-body .buy-btn:hover{
    background-color: #ddd;
    color: #000;
}


/* contact */
.contact-body{
    padding: 32px 0;
    position: relative;
    height: 200px;
}
.contact-body .contact-information{
    width: 50%;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
}
.contact-body .contact-information p > i{
    width: 30px !important;
}

.contact-body .all-form{
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 32px
}

.contact-body .input-contact .input-box{
    width: 50%;
}

#name-input{
    margin-right: 8px;
}

#email-input{
    position: absolute;
    top: 0;
    right: 0;
}

#message-input{
    width: 99%;
    margin-top: 10px;
}

.contact-body .input-contact input{
    padding: 8px;
    border: 1px solid #ccc;
}

.input-contact button{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    margin: 16px 0;
    float: right;
    border: none;
}



#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer p{
    margin: 15px;
    opacity: 0.6;
}

#footer i{
    font-size: 26px;
    margin: 2px;
    opacity: 0.6;
    
}

#footer i:hover{
    cursor: pointer;
}

#img-footer{
    width: 100%;
}


/* modal */
#ticket-modal{
    background-color: black;
}

.modal-content{
    margin: auto;
    width: 85%;
    display: block;
    position: fixed;
    left: 0;
    top: 50px;
    padding: 50px;
    bottom: 0;
    right: 0;
}

.modal-content .modal-heading{
    background-color: #009688;
    line-height: 1.5;
    padding: 32px 16px;
    color: white;
    position: relative;
}

.modal-content .modal-heading .btn-x{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    padding: 8px 16px;
}


.modal-content .modal-heading h2{
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    text-align: center;
}

.modal-content .modal-body{
    padding: 0 16px;
    background-color: #fff;
}

.modal-content .modal-body p{
    padding: 15px 0;
    font-size: 15px;
}

.modal-content .modal-body input{
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal-content .modal-body .pay-btn{
    width: 100%;
    background-color: #009688;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
    border: none;
    font-size: 22px;
}

.modal-content .modal-heading .btn-x:hover,
.modal-content .modal-body .close-btn:hover,
.modal-content .modal-body .pay-btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-content .modal-body .close-btn{
    padding: 8px 16px;
    margin: 16px 0;
    background-color: red;
    color: #fff;
    border: none;
}

.need-help{
    float: right;
}

.need-help a{
    color: blue;
}

